if resources && resources.styles
    each val in resources.styles
        link(rel='stylesheet', href=val)



link(rel='stylesheet',href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css')




